<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="2.0.2" targetFramework="net461" />
  <package id="Mono.Options" version="5.3.0.1" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="TensorFlowSharp" version="1.5.0" targetFramework="net461" />
</packages>