<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.0.5" targetFramework="net461" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net461" />
  <package id="Keras.NET" version="3.8.4.4" targetFramework="net48" />
  <package id="MethodBoundaryAspect.Fody" version="2.0.138" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.ML" version="1.5.2" targetFramework="net48" />
  <package id="Microsoft.ML.CpuMath" version="1.5.2" targetFramework="net48" />
  <package id="Microsoft.ML.DataView" version="1.5.2" targetFramework="net48" />
  <package id="Microsoft.ML.TensorFlow" version="1.5.2" targetFramework="net48" />
  <package id="Microsoft.ML.TensorFlow.Redist" version="0.14.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Numpy.Bare" version="3.8.1.22" targetFramework="net48" />
  <package id="NumSharp.Lite" version="0.1.9" targetFramework="net461" />
  <package id="Protobuf.Text" version="0.4.0" targetFramework="net461" />
  <package id="pythonnet_netstandard_py38_win" version="2.5.1" targetFramework="net48" />
  <package id="SciSharp.TensorFlow.Redist" version="1.15.0" targetFramework="net48" />
  <package id="SciSharp.TensorFlow.Redist-Windows-GPU" version="2.3.1" targetFramework="net461" />
  <package id="SharpCV" version="0.6.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.CodeDom" version="4.4.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="5.0.3" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="4.5.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net48" />
  <package id="System.Threading.Channels" version="4.7.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="TensorFlow.NET" version="0.30.0" targetFramework="net48" />
</packages>